$mineshaft: #333333;
$amethyst: #9d5cd0;
$heliotrope: #c283f3;
$royalpurple: #7943a4;
$white: #fff;
$black: #000;
$bilobaflower: #d1a9f0;
$nobel: #b3b3b3;
$silver: #ccc;
$dustygray: #999;
$gallery: #ececec;
