.footer {
  padding: 37px 0;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__social-list {
    padding-top: 0;
  }
  &__social {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(122deg)
      brightness(89%) contrast(109%);
    @include r(768) {
      font-size: 20px;
    }
  }
  &__logo {
    @include r(440) {
      margin-bottom: 25px;
      width: 150px;
    }
  }
}

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.modal {
  padding: 35px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.modal--visible {
  display: block;
}

.form {
  display: block;
  width: 500px;
}

.input-field {
  display: block;
  width: 100%;
  border: 1px solid blue;
  border-radius: 0;
  padding: 20px 28px;
  margin-bottom: 5px;
  font-size: 20px;
}

.send-btn {
  border: none;
  padding: 20px 28px;
  background-color: blue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.send-btn:hover {
  background-color: rgb(55, 55, 255);
}

.send-btn:active {
  background-color: rgb(31, 31, 190);
}

.error .input-field {
  border-color: red;
}

.error-label {
  display: block;
  color: red;
  margin-bottom: 10px;
}
